*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: black !important;
}
.folio{
    color: gold !important;
}
.anchor{
    /* margin-left: 25px; */
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;
    color: white !important;
   
}
.anchor:hover{
    color:gold  !important;
    
    
}
.dash{
    color: black !important;
  background-color: gold !important;
}
.collapse{
    margin-left: 0 !important;
}
.icons:hover{
    background-color: transparent !important;
    color: gold !important;
    /* outline: gold !important; */
    border: 1px solid gold !important;
    transform: translate(0px , -3px);
    transition: 0.5s;
}
.whole{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    right: 0;
}
.footer-end{
    text-transform: uppercase;
    opacity: .8;
    font-weight: bold;
    color: gold;
}
.foot-head{
    color: gold;
}

/* NAVBAR */
#navbar{
    z-index: 10000000000000000000000;
    position: sticky;
    width: 100vw;
    height: 70px;
    top: 0;
    left: 0;
}

/* HOME SECTION */
#home{
    margin-top: 0px;
    padding-top: 100px;
    height: 100vh;
    background: rgb(191, 192, 183);
}

/* ABOUT SECTION */
#about{
    margin-top: 0px;
    padding-top: 90px;
    height: 100vh;
    background: #90f5fa;
}

/* Services */
#services{
    margin-top: 0px;
    padding-top: 70px;
    height: 100vh;
    background: #abff2c;
}

/* Projects */
#projects{
    margin-top: 0px;
    padding-top: 70px;
    height: 100vh;
    background: #2cffd5;
}

/* Contact */
#contact{
    margin-top: 0px;
    padding-top: 70px;
    background: #fe9f06;
    height: fit-content;
    padding-bottom: 30px;
}

#contact .contact-form .from-group{
    margin-top: 50px;
}