*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.folio{
    color: gold !important;
}
.anchor{
    /* margin-left: 25px; */
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;
    color: white !important;
   
}
.anchor:hover{
    color:gold  !important;
    
    
}
.dash{
    color: none !important;
  background-color: gold !important;
  border: 1px solid gold !important;
}
.collapse{
    margin-left: 0 !important;
}
.icons:hover{
    background-color: transparent !important;
    color: gold !important;
    /* outline: gold !important; */
    border: 1px solid gold !important;
    transform: translate(0px , -3px);
    transition: 0.5s;
}
.whole{
    /* position: absolute; */
    /* bottom: 0;
    left: 0; */
    font-family: 'Poppins', sans-serif;
    /* right: 0; */
}
.footer-end{
    text-transform: uppercase;
    opacity: .8;
    font-weight: bold;
    color: gold;
}
.foot-head{
    color: gold;
}

.gld{
    color: gold;
}
.btnDOWn{
    background: gold !important;
    border: none;
    border: 2px solid gold;
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important;

    /* font-weight: ; */
}

.trans{
    background: transparent !important;
    border: 2px solid gold !important;
    font-family: 'Poppins', sans-serif !important;

    /* color: white !important */
}
.trans:hover{
    background: gold !important;
    color: black !important;
    transition: 0.5s;
}

.navo{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}